{{- define "depInfo" -}}
{{- range $i, $dep := . }}
{{ "-" | line }}
Dependency : {{ $dep.Name }}
Version: {{ $dep.Version }}
Licence type (autodetected): {{ $dep.LicenceType }}
{{ "-" | line }}

{{ $dep | licenceText }}
{{ end }}
{{- end -}}

Elastic Cloud Defend
Copyright 2022-{{ currentYear }} Elasticsearch BV

This repository includes code from libbpf at modules/sensor/probes/headers/bpf,
which is dual-licensed under the BSD 2-Clause License OR GNU General Public
license Version 2.

{{ "=" | line }}
Third party libraries used by Elastic Cloud Defend:
{{ "=" | line }}

{{ template "depInfo" .Direct }}

{{ if .Indirect }}
{{ "=" | line }}
Indirect dependencies

{{ template "depInfo" .Indirect -}}
{{- end}}
